<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Feed Your Lifestyle: Homepage</title>
</head>

<body>
  <h1 style="text-align: left; padding-top: 30px; padding-left: 30px;">Feed your Lifestyle</h1>
  <ul class="nav justify-content-end">

    <nav>
      <li>
        <!-- If user logged in, show logout button -->
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <!-- Otherwise, show a link to login -->
        <a class="nav-link" href="/login">Login</a>
        {{/if}}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recipes</a>
      </li>


      {{!-- <li class="nav-item">
        <a class="nav-link active" href="#">Login</a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recipes</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Search
          by Diet</a>
        <div class="dropdown-menu">
          {{!-- req.session.user_id ish --}}

          {{!-- Added class for valdrop js to use --}}
          <a id="opt1" data-value="balanced" class="dropdown-item dropdown-option" href="#">Balanced</a>
          <a data-value="high-protein" class="dropdown-item dropdown-option" href="#">High-Protein</a>
          <a data-value="low-carb" class="dropdown-item dropdown-option" href="#">Low Carb</a>
          <a data-value="low-fat" class="dropdown-item dropdown-option" href="#">Low-Fat</a>
          <a data-value="low-sodium" class="dropdown-item dropdown-option" href="#">Low-Sodium</a>
        </div>
      </li>

      <li>
        <!-- If user logged in, show logout button -->
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <!-- Otherwise, show a link to login -->
        <a class="nav-link" href="/login">Login</a>
        {{/if}}
      </li>

      <form class="d-flex">
        <input id="result" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button id="recipeSearch" class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </ul>
  </nav>

  <main>
    {{!-- <aside>
      <h2>Search by Diet type</h2>
    </aside> --}}
    <div class="gallery">
      {{{body}}}
    </div>
  </main>

  <footer>
    <h2 style="padding-left: 500px;">Contact Us</h2>
    <ul class="nav justify-content-center">
      <li class="nav-item"> <a class="nav-link active" href="https://github.com/Delmanat3">Nathan's Github</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="https://github.com/suelee0308">Sue's Github</a>
      </li>
      <li class="nav-item"> <a class="nav-link" href="https://github.com/jones406">Brooke's Github</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="https://github.com/mackenzieneveaux">Mackenzie's Github</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="https://github.com/Emilio512">Emilio's Github</a>
      </li>
    </ul>
  </footer>

  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>
    
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
  <script src="js/valdrop.js"></script>
</body>

</html>



{{!-- Balanced balanced Protein/Fat/Carb values in 15/35/50 ratio
Diet High-Fiber high-fiber More than 5g fiber per serving
Diet High-Protein high-protein More than 50% of total calories from proteins
Diet Low-Carb low-carb Less than 20% of total calories from carbs
Diet Low-Fat low-fat Less than 15% of total calories from fat
Diet Low-Sodium
<li class="nav-item">
  <a class="nav-link active" href="#">Login</a>
</li> --}}

{{!-- Login/Logout buttons moved to nav bar --}}