{{!-- Moved style to CSS file and tightened up file (deleted blank rows and did a "format document") --}}

{{!-- Where do the buttons in the carousel take the user? Are they supposed to route to create an account, which is the view in login.handlebars? --}}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1>Example Headline</h1>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1>Example Headline</h1>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1>Example Headline</h1>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1>Example Headline</h1>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
        </div>
    </div>


Three cards: Where do buttons in cards link? Are we calling on our database here to link to three different categories of recipes? I don't know which types we have. The only data I see in the recipeData.json are dietLabels. Not all entries have one but I see low-carb, high-fiber, balanced. 

    <div class="card-group">
    <div class="card">
      <img class = "card-img" src="../public/images/lowcarb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Search low-carb recipes that suit a variety of lifestyles and health concerns.</p>
        <a href="#" class="btn btn-lg btn-primary">Low-Carb Recipes</a>
      </div>
    </div>
    <div class="card">
        <img class = "card-img" src="../public/images/lowsodium.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Search low sodium-diets for health concerns such as high blood pressure.</p>
          <a href="#" class="btn btn-lg btn-primary">Low-Sodium Recipes</a>
        </div>
      </div>
      <div class="card">
        <img class = "card-img" src="../public/images/highfiber.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Search high-fiber diets to aid in digestion and detoxification. Fiber is an essential part of any diet! </p>
          <a href="#" class="btn btn-lg btn-primary">High-Fiber Recipes</a>
        </div>
      </div>
    </div>
  </div>
