{{!-- Moved style to CSS file and tightened up file (deleted blank rows and did a "format document") --}}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">


            <div class="carousel-item active" style="background-image: url(./images/food.jpg);">
                <div class="container">
                    <h2>Example Headline</h2>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h2>Example Headline</h2>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h2>Example Headline</h2>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h2>Example Headline</h2>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>


                </div>

            </div>

        </div>
        <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="sr-only">Previous</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>

    </div>
    
    
     <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">High-Fiber</h5>
                    <p class="card-text">Search high-fiber diets to aid in digestion and detoxification. Fiber is an essential part of any diet! </p>
                </div>
            </div>
            <div class="col-md-4">
                <img class = "card-img" src="./images/highfiber.jpg" alt="keto">
            </div>
        </div>
    </div>

</div>

<div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class = "card-img" src="./images/keto.jpg" alt="keto">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Low-Sodium</h5>
                    <p class="card-text">Search low sodium-diets for health concerns such as high blood pressure.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Low-Carb Recipes</h5>
                    <p class="card-text">Search low-carb recipes that suit a variety of lifestyles and health concerns.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class = "card-img" src="./images/lowcarb.jpg" alt="keto">
            </div>
        </div>
    </div>

