{{!-- Moved style to CSS file and tightened up file (deleted blank rows and did a "format document") --}}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">


            <div class="carousel-item active" style="background-image: url(./images/food.jpg);">
                <div class="container">
                    <h2>Example Headline</h2>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h2>Example Headline</h2>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h2>Example Headline</h2>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h2>Example Headline</h2>
                    <p>blah blah blah blah blah</p>
                    <a href="#" class="btn btn-lg btn-primary">Sign up today</a>


                </div>

            </div>

        </div>
        <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="sr-only">Previous</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>

    </div>
    <div class="card mb-3" style="width: auto; height: 250px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img style="height: 250px; width: 275px;" src="./images/keto.jpg" alt="keto">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>


{{!-- Three cards: Where do buttons in cards link? Are we calling on our database here to link to three different categories of recipes? I don't know which types we have. The only data I see in the recipeData.json are dietLabels. Not all entries have one but I see low-carb, high-fiber, balanced.  --}}
    <div class="card-group">
    <div class="card">
      <img class = "card-img" src="./images/lowcarb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Search low-carb recipes that suit a variety of lifestyles and health concerns.</p>
        <a href="#" class="btn btn-lg btn-primary">Low-Carb Recipes</a>
      </div>
    </div>
    <div class="card">
        <img class = "card-img" src="./images/lowsodium.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Search low sodium-diets for health concerns such as high blood pressure.</p>
          <a href="#" class="btn btn-lg btn-primary">Low-Sodium Recipes</a>
        </div>
      </div>
      <div class="card">
        <img class = "card-img" src="./images/highfiber.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Search high-fiber diets to aid in digestion and detoxification. Fiber is an essential part of any diet! </p>
          <a href="#" class="btn btn-lg btn-primary">High-Fiber Recipes</a>
        </div>
      </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src=""></script>

