{{!--

DISPLAY: with the recipeData.json we can 
pull in recipe.label 
(the recipe title) and the url for the image. 
We don't have ingrediets 
or step-by-step stuff yet
--}}
 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Search
          by Diet</a>
        <div class="dropdown-menu">
          {{!-- req.session.user_id ish --}}

          {{!-- Added class for valdrop js to use --}}

          <a id="opt1" data-value="balanced" class="dropdown-item dropdown-option" href="#">Balanced</a>
          <a data-value="high-protein" class="dropdown-item dropdown-option" href="#">High-Protein</a>
          <a data-value="low-carb" class="dropdown-item dropdown-option" href="#">Low Carb</a>
          <a data-value="low-fat" class="dropdown-item dropdown-option" href="#">Low-Fat</a>
          <a data-value="low-sodium" class="dropdown-item dropdown-option" href="#">Low-Sodium</a>
        </div>
      </li> 

<div id="recipeList" class="row" >
</div>




<div>
    <a href="/">Home</a>
    <!-- If the user is logged in, allow them to save a recipe -->
    {{#if loggedIn}}
    <button id="save-recipe" class="btn-no-style">Save</button>
    {{else}}
    
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
  </div>

<script src="js/valdrop.js"></script>