{{!DISPLAY -- image, title, ingredients, steps --}}

<div>
    <a href="/">Home</a>
    <!-- If the user is logged in, allow them to save a recipe -->
    {{#if loggedIn}}
    <button id="save-recipe" class="btn-no-style">Save</button>
    {{else}}
    
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
  </div>