{{!--

DISPLAY: with the recipeData.json we can
pull in recipe.label
(the recipe title) and the url for the image.
We don't have ingrediets
or step-by-step stuff yet
--}}
<hr>
<div id = "savebutton" class="row justify-content-center align-items-center"><a class="btn-outline-dark btn-sm" href="/login">To save recipes, log in!</a></div>
<hr>

<div id = "searchbydiet" class="row justify-content-center align-items-center">
    <a class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" href="#" role="button"
      aria-expanded="false">Search by Diet</a>
    <div class="dropdown-menu">
      {{!-- req.session.user_id ish --}}
      {{!-- Added class for valdrop js to use --}}
      <a id="opt1" data-value="balanced" class="dropdown-item dropdown-option" href="#">Balanced</a>
      <a data-value="high-protein" class="dropdown-item dropdown-option" href="#">High-Protein</a>
      <a data-value="low-carb" class="dropdown-item dropdown-option" href="#">Low Carb</a>
      <a data-value="low-fat" class="dropdown-item dropdown-option" href="#">Low-Fat</a>
      <a data-value="low-sodium" class="dropdown-item dropdown-option" href="#">Low-Sodium</a>
    </div>
    </div>

<div>
<!-- If user logged in, allow them to save a recipe -->
  {{#if logged_in}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
View Saved Recipes
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Recipes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a id= "history" href=""></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
 
  {{else}}
  <!-- Otherwise, show a link to login -->
  {{!-- <div class="mt-md-4"></div> --}}
  
  {{/if}}
</div>
  

{{!-- This is where our results populate --}}
<div id="recipeList" class="row">

</div>

<script src="js/valdrop.js"></script>

