.header{
    text-align: left;
}

h1 {
    font-family: 'Sarina', cursive;
    font-size: 60px;
}

h5 h2 {
    font-family: 'Arvo', serif;
    font-size: 27px;
}

.card-img {
    display: flex;
    max-height: 30%;
    max-width: 30%;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    height: 25rem;
    background-color: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    left: 0px;
    right: -750px;
    padding-top: 120px;
}

.card-img {
    background-position: center;
    background-size: cover;
}