
body {
    whitesmoke;
}

nav {
    text-align: left;
    background-color: whitesmoke;
    color: rgb(85,139,88);
    
}

#sitetitle {
    text-align: left;
    padding-left: 5rem;
    padding-top: 1.5rem;
}
#navlinks {
    padding-right: 2rem;
}
h1 {
    font-family: 'Sarina', cursive;
    font-size: 60px;
}
h2 {
    font-family: 'Arvo', serif;
    font-size: 40px;
}

a {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}


.carousel-item {
    height: 25rem;
    background-color: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    left: 0px;
    right: -750px;
    padding-top: 120px;
    padding-bottom: 10rem;
}

.card-img {
    object-fit: cover;
    overflow: hidden;
    max-height: 17rem;
    
}

footer {
    background-color: whitesmoke;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}

ul {
    list-style-type: none;
  }

#savebutton {
  color:black;
}

#searchbydiet {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}

.login-card {
padding-top: 3rem;
}

/* .login-card {
    text-align: left;
    margin-left: 500px;
}

.login-card2{
    margin-right: -100px;
} */

.form-login{
    width:150px;
}

#email-signup{
    margin-left:35px;
}

.update{
    margin-left:-50px;
    padding-right:20px;
}
.page-title1{
    margin-left: -25px;
}

#recipeList {
    font-size: 2rem;
}


  
