nav {
    text-align: left;
    background-color: rgb(213,228,183);
}

h1 {
    font-family: 'Sarina', cursive;
    font-size: 60px;
}
h2 {
    font-family: 'Arvo', serif;
    font-size: 40px;
}

a {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}


.carousel-item {
    height: 25rem;
    background-color: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    left: 0px;
    right: -750px;
    padding-top: 120px;
    padding-bottom: 10rem;
}

.card-img {
    object-fit: cover;
}

footer {
    background-color: rgb(213,228,183);
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}

ul {
    list-style-type: none;
  }

#savebutton {
  color:black;
}

#searchbydiet {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}
    /* z-index: 1; 
  }

.login-card {
    text-align: left;
    margin: auto;
}

#recipeList {
    font-size: 2rem;
}

/*  */

  
